.root {
  position: relative;
  display: flex;
  width: min(320px, 100%);
  min-width: 0;
  height: 26px;
  padding: 2px 6px;
  background-color: var(--vscode-settings-dropdownBackground);
  border: 1px solid transparent;
  border-radius: 2px;
  color: var(--vscode-settings-dropdownForeground);
  cursor: pointer;

  &.isFocused {
    outline: 1px dotted var(--vscode-contrastActiveBorder, rgba(0, 0, 0, 0));
    outline-offset: -1px;
    border-color: var(--vscode-focusBorder);
  }

  .item,
  .item:hover {
    background: transparent;
  }
}

.rootItem {
  flex-grow: 1;
  font-size: 13px;
  font-weight: 400;
  line-height: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.expandIcon {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-left: 2px;
  pointer-events: none;
  font-size: 16px;
  color: var(--vscode-foreground);
}

.dropdown {
  position: absolute;
  outline: 1px solid var(--vscode-focusBorder);
  outline-offset: -1px;
  border: 1px solid var(--vscode-settings-dropdownBorder);
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: var(
    --vscode-dropdown-listBackground,
    var(--vscode-settings-dropdownBackground)
  );
}

.items {
  width: 100%;
  padding: 1px;
  list-style-type: none;
}

.item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 22px;
  color: var(--vscode-foreground);
  cursor: pointer;

  span {
    display: inline-block;
    padding: 0 3.5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 20px;
    font-size: 13px;
    font-weight: 400;
    overflow: hidden;
  }

  &:hover {
    background-color: var(--vscode-list-hoverBackground);
    color: var(--vscode-list-hoverForeground);
    outline: 1px dashed var(--vscode-contrastActiveBorder);
    outline-offset: -1px;
  }

  &.isFocused,
  &.isFocused:hover {
    background-color: var(--vscode-quickInputList-focusBackground);
    outline: 1.6px dotted var(--vscode-contrastActiveBorder, rgba(0, 0, 0, 0));
    outline-offset: -1.6px;
    color: var(--vscode-quickInputList-focusForeground);
  }
}
